<li class="list-group-item">
  <span class="content"><%= micropost.content %></span>
  <br>
  <small style="color: #d3d3d3;">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </small>
</li>