$grayMediumLight: #eaeaea;
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* field errors */

.field_with_errors {
  @extend .has-error;
}
html, body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

/* sticky footer */
#wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

#push {
        height: 60px;
      }
